<!DOCTYPE html>
<html>
<head>
    <title>Legal Brain</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<script src="/static/script.js"></script>
<body>

<div class="chat-container">
    <h2> Legal Brain</h2>

    <div id="chat-box">
        <p><strong>Legal Brain – Traffic Rules & Motor Vehicles Act Assistant</strong></p>

    </div>

    <input type="text" id="user-input" placeholder="Ask about traffic rules...">
    <button onclick="sendMessage()">Send</button>

</div>

</body>
</html>
