<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegalBrain Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chat-container">
    <div class="chat-header">
        LegalBrain ⚖️
    </div>

    <div class="chat-box" id="chatBox">
        <div class="bot-message">
            Hello 👋 I am LegalBrain.  
            Ask me anything about Traffic Rules & Motor Vehicle Act.
        </div>
    </div>

    <div class="chat-input">
        <input type="text" id="userInput" placeholder="Type your question...">
        <button onclick="sendMessage()">➤</button>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
